<div class="user-row">
	<%= form_for @user, html: { class: "user-row-form" } do |f| %>
		<% if @user.errors.any? %>
			<%= render partial: 'shared/error_message', locals: { errors: @user.errors } %>
		<% end %>

		<div class="user-row">
			<div class="user-row-form-two-col">
				<%= f.label :first_name, "First Name" %>
				<%= f.text_field :first_name %>
			</div>

			<div class="user-row-form-two-col">
				<%= f.label :last_name, "Last Name" %>
				<%= f.text_field :last_name %>
			</div>
		</div>


		<div class="form-field">
			<%= f.label :username, "Username" %>
			<%= f.text_field :username %>
		</div>

		<div class="form-field">
			<%= f.check_box :enable_daily_reminder %>
			<%= f.label :enable_daily_reminder, "Enable Daily Reminder" %>
			
			<%= f.datetime_select(:daily_reminder, { discard_day: true, discard_month: true, discard_year: true, discard_minute: true, ampm: true, start_hour: 6 }) %>
		</div>

		<div class="form-field">
			<%= f.label :email %>
			<%= f.text_field :email, placeholder: "sample@blogaday.com" %>
		</div>

		<div class="form-field">
			<%= f.label :password %>
			<%= f.password_field :password, placeholder: "minimum 8 characters, least one character must be uppercase, lowercase and number" %>
		</div>

		<div class="form-field">
			<%= f.label :password_confirmation, "Password Confirmation" %>
			<%= f.password_field :password_confirmation %>
		</div>

		<div class="form-field">
			<%= f.submit local[:submit_button_text], class: "submit expand" %>
		</div>
	<% end %>	
</div>
