<%= form_for @post, html: { class: "materialize-row-form" } do |f| %>
	<% if @post.errors.any? %>
		<%= render partial: 'shared/error_message', locals: { errors: @post.errors } %>
	<% end %>

	<div class="materialize-row">
		<div class="materialize-row-form-one-col">
			<%= f.text_field :title, class: "validate" %>
			<%= f.label :title %>
		</div>
	</div>

	<div class="materialize-row">
		<div class="materialize-row-form-label-markdown-support">
			<%= link_to("Markdown", "https://guides.github.com/features/mastering-markdown", target: :blank) %> supported
		</div>
		<div class="materialize-row-form-one-col">
			<%= f.text_area :body, cols: 20, row: 40, placeholder: "minimum 250 characters", class: "materialize-textarea" %>
			<%= f.label :body %>
		</div>
	</div>

	<div class="materialize-row-form-one-col">
		<%= f.text_area :summary, cols: 20, row: 40, placeholder: "(Optional) maximum 140 characters", class: "materialize-textarea", length: 140 %>
		<%= f.label :summary %>
	</div>

	<div class="materialize-row">
		<%= f.label :publish_date %>
		<div class="materialize-row-form-one-col">
			<%= f.datetime_select :publish_date, { ampm: true, order: [:hour, :minute, :month, :day, :year] }, class: "browser-default" %>
		</div>
	</div>

	<div class="materialize-row">
		<div class="materialize-row-form-one-col">
			<%= f.button "Submit", { class: "materialize-row-form-submit", type: "submit" } %>
		</div>
	</div>
<%end%>
