<%= form_for [@user, @post], html: { class: "materialize-row-form" } do |f| %>
	<% if @post.errors.any? %>
		<%= render partial: 'shared/error_message', locals: { errors: @post.errors } %>
	<% end %>

	<div class="materialize-row">
		<div class="materialize-row-form-one-col">
			<%= f.text_field :title, class: "validate" %>
			<%= f.label :title %>
		</div>
	</div>

	<div class="form-field">
		<%= f.label :body %>
		<%= f.text_area :body, cols: 20, row: 40, placeholder: "minimum 250 characters" %>
	</div>

	<%= f.submit %>
<%end%>
