<h4 class="<%= local[:post_title_class] %>"><%= local[:post].title %></h4>

by <%= local[:post].user.username %>
<br>
<i class="post-details-date">
	<%= time_tag local[:post].publish_date, pubdate: true do %>
		<%= local[:post].publish_date.strftime("%B %d, %Y on %I:%M %P")  %>
	<% end %>
</i>