<article class="post-details">
	<header class="post-details-header">
		<%= render 'posts/post_header', local: { post_title_class: "post-details-title", post: @post }  %>
	</header>

	<p class="post-details-content"><%= @markdown_post_body %></p>

	<%= render template: 'comments/new' %>

	<footer class="post-details-footer">
		<% if current_user && current_user.id == @post.user_id %>
			<%= link_to("Edit", edit_post_path(@post)) %>
			<%= link_to"Delete", @post, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
		<% end %>
	</footer>
</article>