<section class="materialize-form">
	<h2>Login</h2>

	<%= form_tag user_sessions_path, class: "materialize-row-form", id: "login", method: :post do %>

		<div class="materialize-row">
			<div class="materialize-row-form-one-col">
				<%= text_field_tag :username, "", class: "validate" %>
				<%= label_tag :username %>
			</div>
		</div>

		<div class="materialize-row">
			<div class="materialize-row-form-one-col">
				<%= password_field_tag :password, "", class: "validate" %>
				<%= label_tag :password %>
			</div>
		</div>

		<%= check_box_tag :remember %> <%= label_tag :remember, "Remember Me" %>

		<div class="materialize-row">
			<div class="materialize-row-form-one-col">
				<%= button_tag "Login", { class: "materialize-row-form-submit", type: "submit" } %>
			</div>
		</div>
			
	<% end %>
</section>