<section class="user-form">
	<h2>Login</h2>

	<%= form_tag user_sessions_path, id: "login", method: :post do %>

		<div class="form-field">
			<%= label_tag :username %>
			<%= text_field_tag :username %> 
		</div>

		<div class="form-field user-form-password">
			<%= label_tag :password %>
			<%= password_field_tag :password, "", class: "password" %>
		</div>

		<div class="form-field">
			<%= check_box_tag :remember %> <%= label_tag :remember, "Remember Me" %> 
		</div>
		<br>
		<div class="form-field">
			<%= submit_tag "Login", class: "submit expand"  %>
		</div>

	<% end %>
</section>