<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Blog a Day" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header-navigation" role="navigation">
        <div class="main-header-navigation-wrapper">
          <%=link_to 'Blog a Day', root_url, class: "brand-logo" %>
          <a href="#" data-activates="mobile-menu" class="button-collapse">
            <i class="mdi-navigation-menu"></i>
          </a>
          <ul class="main-header-navigation-wrapper-non-mobile-menu">
            <%= render "layouts/main_nav_menu_items" %>
          </ul>
          <ul class="main-header-navigation-wrapper-mobile-menu-items" id="mobile-menu">
            <%= render "layouts/main_nav_menu_items" %>
          </ul>
        </div>
      </nav>

      <% if flash[:notice] %>
        <script>
          var notice = {
            "message":   "<%= flash[:notice] %>",
            "className": "notice-flash"
          };
        </script>
      <% end %>

      <% if flash[:alert] %>
        <script>
          var notice = {
            "message":   "<%= flash[:alert] %>",
            "className": "alert-flash"
          };
        </script>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      
    </footer>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

  </body>
</html>
